/.vscode
/config
/data
/notebooks
/instance
diagram.py
orm_module.py
/codex_vitae/orm_module.py
sqlite3_module.py
/codex_vitae/codex_vitae.ipynb
mood_markov.ipynb
journal.json
run_etl.sh
run_app.sh
token.json
__pycache__
.env